# Terraform transient & state files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI & Environment
.env
*.log
venv/

# OS / Editor generated
.DS_Store
.idea/
.vscode/
